# ========================
# App specific
# ========================
spec.yml
.dblab.yaml
.claude/
.claude/agents/
CLAUDE.md
READMEDEV.md


# ========================
# Python
# ========================
.python-version
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
*.log
*.sqlite3
db.sqlite3

# ========================
# Django
# ========================
media/
staticfiles/
**/migrations/*.pyc
**/migrations/__pycache__/
**/migrations/*  # optional: ignore all migrations if dynamic
/kyc/src/users/migrations/*
/kyc/src/questionnaires/migrations/*
/kyc/src/submissions/migrations/*
/kyc/src/verification/migrations/*

# ========================
# Docker
# ========================
docker-compose.override.yml
*.pid
*.out
*.bak
*.swp
*.tmp
*.old
.DS_Store

# ========================
# PostgreSQL
# ========================
postgres_data/
pg_dump_*.sql
*.pgpass

# ========================
# IDEs / Editors
# ========================
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

# ========================
# OS / System Files
# ========================
Thumbs.db
desktop.ini

# ========================
# Testing / Build
# ========================
.coverage
test-results/
*.pytest_cache/
dist/
build/
